<!DOCTYPE html>
<html ng-app="">
<head>
    <script src="list.js"></script>
    <title>LASP people list</title>
</head>
<body>
<div ng-controller="ListCtl">
    <h2>Below is a sparql generated list of LASP members</h2>
    <div class="container">
        <br/>
        <em>Please type in a name to search:</em>
        <input type="text" data-ng-model="name"/>
        <br/>
        <ul>
            <li data-ng-repeat="member in myList | filter:name">
                {{ member.person.value}} -- <a href="{{ member.personuri.value }}"> webpage </a>
            </li>
        </ul>
    </div>
</div>
<script src="angular.min.js"></script>
</body>
</html>